.wave-bg{
    height: 100%;
    background-image: url(../../assets/images/wave.svg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

.nav-button{
    margin: 0.5rem;
}

#sign-in-heading{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Ubuntu';
    font-weight: 600;
}

.flex-container{
  display:flex;
  flex-flow: row wrap;
  /* margin: 5% 20%; */
}

.flex-item{
  width: 50%;
  text-align: center;
}

.looks-good-tick{
    color: rgb(0, 255, 42); 
    position: relative; 
    top: 0.3rem; 
    left: 0.5rem; 
    font-size: 2rem;
}

mat-card-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.login-buttons{
    font-family: 'Ubuntu'; 
    margin-top: 1.5rem; 
    margin-right: 0.65rem; 
    width: 39%; 
    padding: 0.25rem 0rem;
    font-weight: 500;
}

#or-with i{
    font-size: 1.75rem;
    margin: 0.6rem 0.7rem 0rem;
    padding: 0.4rem;
    border-radius: 5px;
}
#or-with span{
    color: rgb(116, 38, 189);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
    position: relative;
    top: 0.5rem;
}
#or-with i:hover{
    color: white;
    background-color: rgb(116, 38, 189);
}