.nav-button{
    margin: 0.5rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    color: rgb(174, 35, 255);
}

h3{ font-size: 1.5rem; }

h4{ font-size: 1rem; }

ul{
    list-style-type: none;
}

.cart-actions{
  font-size: 1rem;
}
.cart-actions mat-icon{
  font-size: 1.5rem;
  margin: 0.75rem 0.5rem 0rem;
  color: rgb(174, 35, 255);
}
.cart-actions mat-icon:hover{
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(174, 35, 255);
  color: white;
  transition-duration: 0.3s;
}

.looks-good-tick{
    color: rgb(0, 255, 42); 
    position: relative; 
    top: 0.3rem; 
    left: 0.5rem; 
    font-size: 2rem;
}

#total-price{
  background-color: rgb(174, 35, 255);
  color: white;
  padding: 0.6rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

button{
  margin: 0rem 0.2rem;
}

#bill-flex-container{
  display: flex; 
  width: 100%; 
  flex-flow: row wrap; 
  justify-content: center;
}

#bill{
  display: flex; 
  padding: 2rem 2rem 2rem 0rem; 
  border-radius: 1.25rem; 
  border: solid 2px rgb(174, 35, 255);
}

#bill ul{ list-style-type: none; }

.purple-text{
  color: rgb(174, 35, 255);
}