<!-- Uncomment when done with other pages, make this the default
<app-login-page></app-login-page>
<app-home-page></app-home-page>
<app-checkout></app-checkout> -->

<!-- why only router outlet in here? check this = https://stackoverflow.com/questions/58072594/angular-appends-component-instead-of-replacing-whole-page-using-router-outlet -->
<router-outlet></router-outlet>
<h2>{{title}} is working</h2>


<!-- 
    
TODO:
- edit footer component
- turn items list into its own component
- Sign Up page
- payment portal with user payment details
✔ add address option
✔ add and remove items from cart 
- separate favourite foods and customer cart

 -->